<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Spring Boot Thymeleaf Application - Bootstrap Rating Stars</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!-- start css for datatables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
	<!-- end css for datatables -->
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Dropdown
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
						-->
					<!--
					<li class="nav-item">
						<a class="nav-link disabled" aria-disabled="true">Disabled</a>
					</li>
					-->
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-lg-12">
				<div class="accordion" id="accordionPanelsStayOpenExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
								aria-controls="panelsStayOpen-collapseOne">
								Ficha rápida
							</button>
						</h2>
						<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
							aria-labelledby="panelsStayOpen-headingOne">
							<div class="accordion-body">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td>Nombre completo</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.nombreCompleto}></p>
											</td>
										</tr>
										<tr>
											<td>Domicilio:</td>
											<td>
												<p class="datatableparagraph"
													th:text=${personaDto.domicilioDto.domicilioMostrar}></p>
											</td>
										</tr>
										<tr th:if="${personaDto.defuncionDto != null}" class="table-danger">
											<td>DEFUNCION:</td>
											<td>
												<p class="datatableparagraph"
													th:text=${personaDto.defuncionDto.fechaStr}></p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseTwo">
								Datos personales
							</button>
						</h2>
						<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
							aria-labelledby="panelsStayOpen-headingTwo">
							<div class="accordion-body">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td>ID</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.id}></p>
											</td>
										</tr>
										<tr>
											<td>Nombre</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.nombre}></p>
											</td>
										</tr>
										<tr>
											<td>Primer apellido</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.primerApellido}></p>
											</td>
										</tr>
										<tr>
											<td>Segundo apellido</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.segundoApellido}></p>
											</td>
										</tr>
										<tr>
											<td>Sexo</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.sexoDto}></p>
											</td>
										</tr>
										<tr>
											<td>CURP</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.curp}></p>
											</td>
										</tr>
										<tr>
											<td>Fecha de nacimiento</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.fechaNacimiento}></p>
											</td>
										</tr>
										<tr>
											<td>Edad (registro)</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.edadDto}></p>
											</td>
										</tr>
										<tr>
											<td>Nacionalidad</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.nacionalidadDto}></p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseThree">
								Defunción
							</button>
						</h2>
						<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
							aria-labelledby="panelsStayOpen-headingThree">
							<div class="accordion-body">
								<table class="table table-striped" th:if="${personaDto.defuncionDto != null}">
									<tbody>
										<tr>
											<td>Fecha</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.defuncionDto.fechaStr}></p>
											</td>
										</tr>
										<tr>
											<td>Semana</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.defuncionDto.semana}></p>
											</td>
										</tr>
										<tr>
											<td>Certificado</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.defuncionDto.certificado}></p>
											</td>
										</tr>
										<tr>
											<td>Verificado</td>
											<td>
												<p class="datatableparagraph" th:text=${personaDto.defuncionDto.verificado}></p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-12">
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<!-- start js for  datatables -->
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
	<!-- end js for  datatables -->
	<script type="text/javascript">
	</script>

</body>

</html>