<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Spring Boot Thymeleaf Application - Bootstrap Rating Stars</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">Thymeleaf - Bootstrap Rating Stars</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-8 col-lg-10">
				<form method="post" th:object="${busquedaDto}" class="mt-5" th:action="@{/find}">
					<div class="form-group">
						<label for="busquedaNombre">Nombre</label>
						<input id="busquedaNombre" class="form-control" type="text" th:field="*{nombre}" />
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio0" value="0"
								th:field="*{nombreMode}">
							<label class="form-check-label" for="inlineRadio1">Coincidencia exacta</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio1" value="1"
								th:field="*{nombreMode}">
							<label class="form-check-label" for="inlineRadio3">Contiene</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio2" value="2"
								th:field="*{nombreMode}">
							<label class="form-check-label" for="inlineRadio2">Comienza con</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio3" value="3"
								th:field="*{nombreMode}">
							<label class="form-check-label" for="inlineRadio3">Termina con</label>
						</div>
					</div>
					<div class="form-group">
						<label for="busquedaPrimerApellido">Primer apellido</label>
						<input id="busquedaPrimerApellido" class="form-control" type="text"
							th:field="*{primerApellido}" />
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio0" value="0"
								th:field="*{primerApellidoMode}">
							<label class="form-check-label" for="inlineRadio1">Coincidencia exacta</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio1" value="1"
								th:field="*{primerApellidoMode}">
							<label class="form-check-label" for="inlineRadio3">Contiene</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio2" value="2"
								th:field="*{primerApellidoMode}">
							<label class="form-check-label" for="inlineRadio2">Comienza con</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio3" value="3"
								th:field="*{primerApellidoMode}">
							<label class="form-check-label" for="inlineRadio3">Termina con</label>
						</div>
					</div>
					<div class="form-group">
						<label for="busquedaSegundoApellido">Segundo apellido</label>
						<input id="busquedaSegundoApellido" class="form-control" type="text"
							th:field="*{segundoApellido}" />
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio0" value="0"
								th:field="*{segundoApellidoMode}">
							<label class="form-check-label" for="inlineRadio1">Coincidencia exacta</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio1" value="1"
								th:field="*{segundoApellidoMode}">
							<label class="form-check-label" for="inlineRadio3">Contiene</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio2" value="2"
								th:field="*{segundoApellidoMode}">
							<label class="form-check-label" for="inlineRadio2">Comienza con</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="nombreMode" id="inlineRadio3" value="3"
								th:field="*{segundoApellidoMode}">
							<label class="form-check-label" for="inlineRadio3">Termina con</label>
						</div>
					</div>
					<div class="form-group">
						<button th:disabled="${submitDisabled}" class="btn btn-primary" type="submit">Submit
							forms</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-8 col-lg-10">
				<div style="margin: 20px; width: 100%;">
					<table class="table table-bordered table-striped" id="table_id">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Primer apellido</th>
								<th>Segundo apellido</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="persona : ${personas}">
								<td>
									<p th:text=${persona.id}></p>
								</td>
								<td>
									<p th:text=${persona.nombre}></p>
								</td>
								<td>
									<p th:text=${persona.primerApellido}></p>
								</td>
								<td>
									<p th:text=${persona.segundoApellido}></p>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Primer apellido</th>
								<th>Segundo apellido</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#table_id').DataTable({
				"ordering": true
			});
		});
	</script>

</body>

</html>